.navbar {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.navbar-brand img {
  max-height: 60px;
  width: auto;
}

/* Change heading font and spacing */
h1 {
  font-family: 'Segoe UI', sans-serif;
  margin-top: 20px;
  color: #004466;
  text-align: center;
}

/* Footer style */
footer {
  background-color: #004466;
  color: #f0f0f0;
}
.mb-6 {
  margin-bottom: 5.5rem; /* ~80px */
}
